@use "../variables";
@use "../mixins";

.text-content {
  @include mixins.manuscript-style;

  margin-top: variables.$spacing-xl;
  padding-left: 100px;

  p {
    margin-bottom: variables.$spacing-md;
    line-height: 1.7;
  }
}
